.navbar-custom {
    background-color: #545252 !important;
}

.navbar-expand-lg {
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
  
  --bs-navbar-color: rgba(255, 255, 255, 0.55) !important;
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75) !important;
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25) !important;
  --bs-navbar-active-color: #fff !important;
  --bs-navbar-brand-color: #fff !important;
  --bs-navbar-brand-hover-color: #fff !important;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1) !important;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

body{
    margin-left: 8% !important;
    margin-right: 8% !important;
}


h1{
    font-family: sans-serif !important;
}

h3{
    padding-top: 1% !important;
    font-family: sans-serif !important;
}

p{
    font-family: sans-serif !important;
}

.selfPortrait {
    padding: 1%;
}