body{
    margin-left: 8% !important;
    margin-right: 8% !important;
}


h1{
    font-family: sans-serif !important;
}

h3{
    padding-top: 5% !important;
    font-family: sans-serif !important;
}

p{
    font-family: sans-serif !important;
}